/* Grundkonfiguration */
body {
    font-family: Arial, sans-serif;
    background-color: #F2F5F7;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Header Bereich */
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 60px;
    padding: 0 5%;
}

.main-logo {
    height: 100px;
    width: auto;
}

.Time {
    width: 80%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #888;
    margin-left: 5%;
    margin-bottom: -20px;
}
/* Tabellen-Layout für bündige Spalten */
.queue-table {
    width: 90%;
    border-collapse: separate; 
    border-spacing: 0 15px; 
    table-layout: fixed;
    margin: 40px;
}

.queue-table-bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(1,1,1,0.3);
}

/* Spaltenbreiten definieren */
.col-nr { width: 33%; text-align: center; }
.col-raum { width: 33%; text-align: center; }
.col-status { width: 33%; text-align: center; }

/* Überschriften */
.list_head th {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: #888;
    color: #000;
}

/* Zeilen-Styling */
.row-card {
    height: 100px;
}

.row-card td {
    padding: 20px;
}

.row-card td:first-child { 
    border-radius: 15px !important;
} 

.row-card td:last-child { 
    border-radius: 15px !important; 
}

.white { background-color: #ffffff; }
.grey { background-color: #F2F5F7; }

/* Text-Styles */
h1 { font-size: 55px; color: #2c3e50; margin: 0; }
h3 { font-size: 20px; color: #2c3e50; margin: 5px 0 0 0; }

.WNR { font-size: 40px; font-weight: bold; }
.Timeestimate, .Status { font-size: 24px; font-weight: bold; }

/* Animationen & Status */
.status-green {
    animation: blinker 1.5s ease-in-out infinite;
}

.status-rot{
    animation: blinker-rot 1.5s ease-in-out infinite;
}

.status-green2 {
    animation: blinker 1.5s ease-in-out infinite;
}

@keyframes blinker {
    0%   { background-color: #a8ce76; } 
    50%  { background-color: #d2df99; }
    100% { background-color: #a8ce76; }
}

@keyframes blinker-rot {
    0%   { background-color: #d42727; } 
    50%  { background-color: #963333; }
    100% { background-color: #d42727; }
}

.POPUP {
    width: 60%;
    height: 60%;
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    background-color: #ffffff;
    display: none; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.POPUP[open] {
    display: flex;
}

.thPOP {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
    gap: 50px !important;
}

.POPUP::backdrop {
    background-color: rgba(0, 0, 0, 0.7); 
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
}

.POPH {
    color: #2c3e50; 
    font-weight: 800;
    font-size: 2.5rem;
}

.POPT {
    color: #000000; 
    font-weight: 550;
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .main-header { flex-direction: column; text-align: center; }
    .main-logo { height: 60px; margin: 20px 0; }
    .list_head th { font-size: 18px; }
    .WNR { font-size: 25px; }
    .Timeestimate, .Status { font-size: 16px; }
}