<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queue System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <table>
            <theadHead>
                <th>
                    <h1>Warteliste:</h1>
                    <h3>Warte bitte bis deine Nummer aufgerufen wird</h3>
                </th>
                <th><img src="{{ url_for('static', filename='img/DummyLogoW.svg') }}" alt="Logo" class="main-logo"></th>
            </theadHead>
        </table>
    </header>
    <div class="list">
        <div class="card">
            <table>
                <thead>
                    <tr>
                    <th class="wnr-spalte"><span id="WNR_1" class="WNR">---</span></th>
                    <th>
                        <table>
                        <thead>
                            <tr>
                                <th><span class="dataH1">Geplante Zeit:</span></th>
                                <th><span class="dataH1">Aktueller Status:</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td><h4><span id="Timeestimate_1" class="Timeestimate">---</span></h4></td>
                            <td><h4><span id="Status_1" class="Status">---</span></h4></td>
                            </tr>
                        </tbody>
                    </table>
                    </th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="card2">
            <table>
                <thead>
                    <tr>
                    <th class="wnr-spalte"><span id="WNR_2" class="WNR">---</span></th>
                    <th>
                        <table>
                        <thead>
                            <tr>
                                <th><span class="dataH1">Geplante Zeit:</span></th>
                                <th><span class="dataH1">Aktueller Status:</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td><h4><span id="Timeestimate_2" class="Timeestimate">---</span></h4></td>
                            <td><h4><span id="Status_2" class="Status">---</span></h4></td>
                            </tr>
                        </tbody>
                    </table>
                    </th>
                    </tr>
                </thead>
            </table>
        </div>

            <div class="card3">
            <table>
                <thead>
                    <tr>
                    <th class="wnr-spalte"><span id="WNR_3" class="WNR">---</span></th>
                    <th>
                        <table>
                        <thead>
                            <tr>
                                <th><span class="dataH1">Geplante Zeit:</span></th>
                                <th><span class="dataH1">Aktueller Status:</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td><h4><span id="Timeestimate_3" class="Timeestimate">---</span></h4></td>
                            <td><h4><span id="Status_3" class="Status">---</span></h4></td>
                            </tr>
                        </tbody>
                    </table>
                    </th>
                    </tr>
                </thead>
            </table>
        </div>

            <div class="card4">
            <table>
                <thead>
                    <tr>
                    <th class="wnr-spalte"><span id="WNR_4" class="WNR">---</span></th>
                    <th>
                        <table>
                        <thead>
                            <tr>
                                <th><span class="dataH1">Geplante Zeit:</span></th>
                                <th><span class="dataH1">Aktueller Status:</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <td><h4><span id="Timeestimate_4" class="Timeestimate">---</span></h4></td>
                            <td><h4><span id="Status_4" class="Status">---</span></h4></td>
                            </tr>
                        </tbody>
                    </table>
                    </th>
                    </tr>
                </thead>
            </table>
        </div>

            <div class="card5">
            <table>
                <thead>
                    <tr>
                        <th class="wnr-spalte"><span id="WNR_5" class="WNR">---</span></th>
                        <th>
                            <table>
                                <thead>
                                    <tr>
                                        <th><span class="dataH1">Geplante Zeit:</span></th>
                                        <th><span class="dataH1">Aktueller Status:</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                    <td><h4><span id="Timeestimate_5" class="Timeestimate">---</span></h4></td>
                                    <td><h4><span id="Status_5" class="Status">---</span></h4></td>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <div class="Time">
        <p>Aktuelle Zeit: <span id="clock">---</span></p>
    </div>



<script>
    const callSound = new Audio("{{ url_for('static', filename='sounds/Alarm.mp3') }}");
    let lastCallStates = {
        "PNR_1": null, "PNR_2": null, "PNR_3": null, "PNR_4": null, "PNR_5": null
    };
    function updateData() {
        const now = new Date();
        const currentTime = now.toLocaleTimeString('de-DE');
        const clockElement = document.getElementById('clock');
        if (clockElement) {
            clockElement.innerText = currentTime;
        }
        fetch('/show')
            .then(response => response.json())
            .then(data => {
                if (Object.keys(data).length > 0) {
                    
                    const pnrs = ["PNR_1", "PNR_2", "PNR_3", "PNR_4", "PNR_5"];

                    pnrs.forEach((pnr, index) => {
                        const callKey = `call_${index + 1}`;
                        const currentCallStatus = data[pnr][callKey];

                        
                        if (currentCallStatus !== null && lastCallStates[pnr] !== currentCallStatus) {
                            console.log(`Sound wird abgespielt für ${pnr}`);
                            callSound.play().catch(error => {
                                console.log("Browser blockiert Sound ohne Interaktion:", error);
                            });
                        }

                        // Aktuellen Status für den nächsten Durchlauf speichern
                        lastCallStates[pnr] = currentCallStatus;
                    });

                    
                }
            })
            .catch(error => console.error('Fehler beim Laden:', error));

        fetch('/show')
            .then(response => response.json())
            .then(data => {
                const keys = Object.keys(data);
                if (keys.length > 0) {
                    const lastKey = keys[keys.length - 1];
                    const lastEntry = data[lastKey];

                    document.getElementById('WNR_1').innerText = data["PNR_1"]["WNR_1"];
                    document.getElementById('Timeestimate_1').innerText = data["PNR_1"]["Timeestimate_1"];
                    document.getElementById('Status_1').innerText = data["PNR_1"]["Status_1"];

                    document.getElementById('WNR_2').innerText = data["PNR_2"]["WNR_2"];
                    document.getElementById('Timeestimate_2').innerText = data["PNR_2"]["Timeestimate_2"];
                    document.getElementById('Status_2').innerText = data["PNR_2"]["Status_2"];

                    document.getElementById('WNR_3').innerText = data["PNR_3"]["WNR_3"];
                    document.getElementById('Timeestimate_3').innerText = data["PNR_3"]["Timeestimate_3"];
                    document.getElementById('Status_3').innerText = data["PNR_3"]["Status_3"];

                    document.getElementById('WNR_4').innerText = data["PNR_4"]["WNR_4"];
                    document.getElementById('Timeestimate_4').innerText = data["PNR_4"]["Timeestimate_4"];
                    document.getElementById('Status_4').innerText = data["PNR_4"]["Status_4"];

                    document.getElementById('WNR_5').innerText = data["PNR_5"]["WNR_5"];
                    document.getElementById('Timeestimate_5').innerText = data["PNR_5"]["Timeestimate_5"];
                    document.getElementById('Status_5').innerText = data["PNR_5"]["Status_5"];

                    const card1 = document.querySelector('.card');
                    const card2 = document.querySelector('.card2');
                    const card3 = document.querySelector('.card3');
                    const card4 = document.querySelector('.card4');
                    const card5 = document.querySelector('.card5');

                    if (data["PNR_1"]["call_1"] === false) {
                        card1.classList.add('status-rot');
                        card1.classList.remove('status-green');
                    } else {
                        card1.classList.remove('status-rot');
                    }

                    if (data["PNR_2"]["call_2"] === false) {
                        card2.classList.add('status-rot');
                        card2.classList.remove('status-green');
                    } else {
                        card2.classList.remove('status-rot');
                    }

                    if (data["PNR_3"]["call_3"] === false) {
                        card3.classList.add('status-rot');
                        card3.classList.remove('status-green');
                    } else {
                        card3.classList.remove('status-rot');
                    }

                    if (data["PNR_4"]["call_4"] === false) {
                        card4.classList.add('status-rot');
                        card4.classList.remove('status-green');
                    } else {
                        card4.classList.remove('status-rot');
                    }

                    if (data["PNR_5"]["call_5"] === false) {
                        card5.classList.add('status-rot');
                        card5.classList.remove('status-green');
                    } else {
                        card5.classList.remove('status-rot');
                    }

                    if (data["PNR_1"]["call_1"] === true) {
                        card1.classList.add('status-green');
                        card1.classList.remove('status-rot');
                    } else {
                        card1.classList.remove('status-green');
                    }

                    if (data["PNR_2"]["call_2"] === true) {
                        card2.classList.add('status-green2');
                        card2.classList.remove('status-rot');
                    } else {
                        card2.classList.remove('status-green2');
                    }

                    if (data["PNR_3"]["call_3"] === true) {
                        card3.classList.add('status-green');
                        card3.classList.remove('status-rot');
                    } else {
                        card3.classList.remove('status-green');
                    }

                    if (data["PNR_4"]["call_4"] === true) {
                        card4.classList.add('status-green2');
                        card4.classList.remove('status-rot');
                    } else {
                        card4.classList.remove('status-green2');
                    }

                    if (data["PNR_5"]["call_5"] === true) {
                        card5.classList.add('status-green');
                        card5.classList.remove('status-rot');
                    } else {
                        card5.classList.remove('status-green');
                    }
                }
            })
            .catch(error => console.error('Fehler beim Laden:', error));
    }
    setInterval(updateData, 500);
</script>
</body>
</html>